<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel" jhiTranslate="apiTestApp.person.home.createOrEditLabel">Create or edit a Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="person.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.alienNum" for="field_alienNum">Alien Num</label>
            <input type="text" class="form-control" name="alienNum" id="field_alienNum"
                [(ngModel)]="person.alienNum" required />
            <div [hidden]="!(editForm.controls.alienNum?.dirty && editForm.controls.alienNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.alienNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="person.firstName" required />
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="person.lastName" required />
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <div class="input-group">
                <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="person.dateOfBirth"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateOfBirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateOfBirth?.dirty && editForm.controls.dateOfBirth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateOfBirth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.countryOfBirth" for="field_countryOfBirth">Country Of Birth</label>
            <input type="text" class="form-control" name="countryOfBirth" id="field_countryOfBirth"
                [(ngModel)]="person.countryOfBirth" required />
            <div [hidden]="!(editForm.controls.countryOfBirth?.dirty && editForm.controls.countryOfBirth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.countryOfBirth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apiTestApp.person.dbKey" for="field_dbKey">Db Key</label>
            <input type="text" class="form-control" name="dbKey" id="field_dbKey"
                [(ngModel)]="person.dbKey" required />
            <div [hidden]="!(editForm.controls.dbKey?.dirty && editForm.controls.dbKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dbKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
